/* regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.centratura {
  padding: 0 100px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

/* intestazione */


/* parte intestazione fissa */
#intestazione-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #F5F8FA;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #7C98B8;
  height: 50px;
  line-height: 50px;
}

#selezione-lingua {
  float: left;
  width: 30%;
  color: #33475B;
  height: 50px;
  line-height: 50px;
}

.menu-lingue {
  float: left;
  width: 33%;
}

.menu-lingue ul {
  display: none;
  list-style-type: none;
  padding: 20px;
  background-color: white;
  border: solid 1px #7C98B6;
  border-radius: 3px;
}

.menu-lingue:hover ul{
  display: block;
}

.menu-lingue a {
  color: #524C5B;
}

.menu-lingue ul li a {
  font-weight: bold;
}

.menu-lingue i {
  padding-right: 20px;
}

#contatti {
  display: inline-block;
  border-left: solid 1px #7C98B6;
  padding-left: 20px;
}

#contatti a {
  color: #524C5B;
}

#log {
  float: right;
  width: 27%;
}

#log a i {
  color: #7C98B8;
  padding-right: 20px;
}

#bottone-log {
  background: white;
  border: solid 1px #FF7A59;
  border-radius: 3px;
  padding: 10px 25px;
  font-size: 14px;
  margin-right: 5px;
}

#bottone-log:hover {
  background-color: #FFF1EE;
}

#bottone-get {
  background: #FF7A59;
  border-radius: 3px;
  padding: 10px 25px;
  font-size: 14px;
}

#bottone-get:hover {
  background-color: #FFBCAC;
}

#bottone-get {
  color: white;
}

#bottone-log {
  color: #FF7A59;
}

/* parte intestazione non fissa */
#barra-navigazione {
  margin-top: 92px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#barra-navigazione img {
  float: left;
  width: 10%;
  height: 50px;
  line-height: 50px;
}

#barra-navigazione nav {
  float: right;
  width: 50%;
  height: 50px;
  line-height: 50px;
}

#barra-navigazione nav ul li {
  display: inline-block;
  padding-right: 30px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.1em;
}

#barra-navigazione nav ul li a {
  color: #524C5B;
}

/* corpo centrale pagina */

/* sezione rosa */
#sezione-rosa {
  background-image: url('img/jumbotron.png');
  background-size: 100% 100%;
}

#jumbotron {
  float: left;
  width: 35%;
  padding-top: 100px;
  padding-bottom: 200px;
  letter-spacing: 1px;
}

#jumbotron h1 {
  font-size: 40px;
  line-height: 1.5;
  color: #33475B;
  margin-bottom: 20px;
}

#jumbotron p {
  line-height: 2.0;
  color: #33475B;
}

#bottone-free {
  background: #FF7A59;
  border-radius: 3px;
  padding: 25px 17px;
  margin: 30px 200px 30px 0;
}

#bottone-free:hover {
  background-color: #FFBCAC;
}

#bottone-free a {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

#spiegazione-sotto-bott {
  font-size: 13px;
  color: #33475B;
}

/* sezione grigia */

#sezione-grigia {
  background-color: #F5F8FA;
}

/* primo blocco sezione cubo */

#cubo {
  text-align: center;
  padding: 100px 200px;
  letter-spacing: 1px;
  line-height: 1.8;
  color: #33475B;
}

#cubo img {
  height: 200px;
  width: 200px;
}

#cubo h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* secondo blocco sezione libro */

#libro {
  background-color: white;
  padding: 50px;
  margin-bottom: 20px;
}

#libro-note {
  float: left;
  width: 30%;
}

#spiegazione {
  float: left;
  width: 70%;
  letter-spacing: 1px;
  color: #33475B;
  line-height: 1.5;
}

#pop-inline {
  display: inline-block;
}

.popular-features hr {
  display: inline-block;
  width: 79%;
  margin-left: 10px;
  margin-bottom: 2px;
  color: #F5F8FA;
}

.img-piccole {
  height: 150px;
  width: 200px;
  margin-bottom: 30px;
}

#bottone-arancio {
  background: #FF7A59;
  border-radius: 3px;
  padding: 16px 30px;
  margin: 0px 138px 0px 23px;
}

#bottone-arancio:hover {
  background-color: #FFBCAC;
}

#bottone-arancio a {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.tit-par h4 {
  font-size: 20px;
}

.tit-par p {
  font-size: 13px;
  margin: 15px 0;
}

.popular-features h6 {
  font-size: 13px;
  margin: 15px 0;
}

.popular-features ul li {
  display: inline-block;
  font-size: 13px;
  margin-right: 10px;
}

.popular-features i {
  color: #FF7A59;
  font-size: 16px;
}

/* terzo blocco sezione 3 colonne */

.tre-colonne {
  float: left;
  width: 30%;
  color: #33475B;
  line-height: 2;
  background-color: white;
  padding: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.bottone-arancio-colonne {
  background: #FF7A59;
  border-radius: 3px;
  padding: 10px 25px;
  margin: 20px 60px 0px 60px;
}

.bottone-arancio-colonne:hover {
  background-color: #FFBCAC;
}

.bottone-arancio-colonne a {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.tre-colonne p {
  min-height: 104px;
  border-bottom: solid 1px #F5F8FA;
}

.no-inline ul li {
  display:block;
  padding-bottom: 10px;
  text-align: left;
}

#margine-col-centro {
  margin: 0 5%;
}

/* sezione azzurra */

#sezione-azzurra {
  background-color: #00AEB3;
}

#dati {
  padding: 150px 300px 100px 300px;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}

#dati h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

#dati p {
  font-weight: 500;
  line-height: 1.5;
}

/* blocco con quadrati */

#container-quadrati {
  padding-bottom: 100px;
}

#rettangolo-quadrati-1 {
  width: 100%;
  border-bottom: solid 1px white;
}

#rettangolo-quadrati-2 {
  width: 100%;
}

.quadratino {
  float: left;
  width: 25%;
  padding: 50px;
  color: white;
  text-align: center;
  line-height: 1.5;
}

.bordo-destro-quad {
  border-right: solid 1px white;
}

.quadratino h4 {
  font-size: 50px;
}

.quadratino h4 i {
  font-size: 20px;
  font-style: normal;
  vertical-align: middle;
}

.quadratino p {
  font-weight: 600;
}

/* sezione sponsor */
#sezione-sponsor-margine {
  padding-top: 50px;
}

.container-sponsor-ragazza {
  width: 100%;
  padding: 70px 0px;
}

#customers {
  float: left;
  width: 30%;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #33475B;
}

#customers h3 {
  font-size: 50px;
}

#customers p {
  font-size: 20px;
}

#customers p span {
  font-weight: bold;
}

#sponsor {
  float: right;
  width: 50%;
  padding-top: 20px;
}

#sponsor img {
  margin: 0 30px 40px 0;
}

#atlassian {
  height: 14px;
  width: 110px;
}

#doordash {
  height: 13px;
  width: 110px;
}

#crowd {
  height: 30px;
  width: 110px;
}

#purple {
  height: 35px;
  width: 110px;
}

#subaru {
  height: 37px;
  width: 110px;
}

#wistia {
  height: 18px;
  width: 110px;
}

#classpass {
  height: 44px;
  width: 110px;
}

#vmware {
  height: 24px;
  width: 110px;
}

#sezione-ragazza {
  padding-bottom: 100px;
}

#start-free {
  float: left;
  width: 50%;
  line-height: 2;
  letter-spacing: 1px;
  color: #33475B;
}

#start-free h3 {
  font-size: 30px;
}

#start-free p {
  font-size: 15px;
  padding: 20px 0;
}

#bottone-arancio-ragazza {
  background: #FF7A59;
  border-radius: 3px;
  padding: 10px 25px;
  margin: 20px 392px 35px 0px;
}

#bottone-arancio-ragazza:hover {
  background-color: #FFBCAC;
}

#bottone-arancio-ragazza a {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

#start-free div {
  font-size: 12px;
}

#ragazza {
  float: right;
  width: 50%;
  height: 430px;
  width: 350px;
}

/* fondo pagina */

footer {
  background-color: #33475B;
}

.ampiezza-footer {
  width: 100%;
  padding-top: 100px;
}

.colonne-4 {
  float: left;
  width: 25%;
  color: white;
  line-height: 2;
}

.colonne-4 h5 {
  font-size: 18px;
}

.colonne-4 ul li {
  list-style-type: none;
  padding-bottom: 10px;
}

.colonne-4 ul li a {
  color: #CBD6E2;
  font-size: 14px;
  font-weight: bold;
}

#menu-free-tools {
  color: white;
  font-weight: normal;
  font-size: 15px;
}

#contact-support {
  background-color: white;
  padding: 10px 12px;
  margin-right: 93px;
  border-radius: 3px;
  margin-top: 20px;
}

#contact-support a {
  color: #33475B;
  font-weight: normal;
}

#icone-social {
  margin-top: 20px;
}

#icone-social ul li {
  display: inline-block;
  padding-right: 20px;
}

#icone-social ul li a {
  font-size: 22px;
}

#lingue {
  text-align: center;
  padding: 20px 0 50px 0;
  border-bottom: solid 1px #7C98B6;
}

#lingue ul li{
  display: inline-block;
}

#lingue ul li a{
  color: #CBD6E2;
  padding-right: 30px;
  font-size: 18px;
  font-weight: bold;
}

#blocco-pie-pagina {
  width: 100%;
  padding: 50px 0;
}

#copywrite {
  float: left;
  width: 25%;
}


#copywrite p {
  color: #CBD6E2;
  font-size: 12px;
  padding-top: 10px;
}

#privacy {
  float: right;
  width: 25%;
  height: 50px;
  line-height: 50px;
}

#privacy ul li {
  display: inline-block;
  text-decoration: none;
  padding-right: 37px;
}

#privacy ul li a {
  color: #CBD6E2;
  font-weight: bold;
  font-size: 18px;
}
